<!DOCTYPE html>

<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta charset="utf-8"/>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" id="theme"
              href="VizGrimoireJS/vizgrimoire.css"/>
        <link href="VizGrimoireJS/bootstrap/css/bootstrap.css" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="custom.css"/>
        <link href="VizGrimoireJS/bootstrap/css/bootstrap-responsive.css"
              rel="stylesheet"/>
        <link rel="shortcut icon" href="favicon.png"/>
    </head>

    <body>
        <div class="container-narrow">
            <div id="Navbar"></div>

            <div class="container-fluid">

                <!-- scm -->
                <div class="row-fluid">
                    <div class="span12">
                        <h4>Source code activity</h4>
                        <div class="Bubbles" data-data-source="scm" data-radius="0.5"></div>
                    </div>
                </div>
                <!--end scm-->

                <!-- mls -->
                <div class="row-fluid">
                    <div class="span12">
                        <h4>Tickets Activity</h4>
                        <div class="Bubbles" data-data-source="its" data-radius="0.5"></div>
                    </div>
                </div>
                <!--end mls -->

                <!-- its -->
                <div class="row-fluid">
                    <div class="span12">
                        <h4>Mailing List Activity</h4>
                        <div class="Bubbles" data-data-source="mls" data-radius="0.5"></div>
                    </div>
                </div>
                <!-- end its-->

            </div>

            <footer>
                <div id="Footer"></div>
            </footer>
        </div>

        <script type="text/javascript" src="VizGrimoireJS/lib/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="VizGrimoireJS/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" src="VizGrimoireJS/vizgrimoire.min.js"></script>
    </body>
</html>
