<!DOCTYPE html>

<html>
    <head>
        <meta name="keywords" content="bitergia, floss, libresoft, oss, linux, research, reports, free software, software analysis, libreplan" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, maximum-scale=1.0">
        <meta name="description" content="Bitergia Reports" />
        <link rel="stylesheet" type="text/css" href="gridster.css" />
        <link rel="stylesheet" type="text/css" id="theme" href="VizGrimoireJS/vizgrimoire.css" />
        <script type="text/javascript" src="VizGrimoireJS/lib/jquery-1.7.1.min.js"></script>
        <title>Bitergia M0 Report</title>
        <style type="text/css">
        </style>
    </head>

    </head>
    <body>
        <div id="wrapper">
            <div id="header"></div>
            <div id="navigation" style="float:left"></div>
            <div id="gridster" class="gridster"  style="float:left"></div>
        		                                    						
			<div id="footer"></div>

		</div>
		<!-- wrapper -->

        <!--[if IE]>
        <script type="text/javascript" src="/static/lib/FlashCanvas/bin/flashcanvas.js"></script>
        <![endif]-->
        <script type="text/javascript" src="VizGrimoireJS/vizgrimoire.min.js"></script>                        
        <!-- <script type="text/javascript" src="VizGrimoireJS/src/envision.js"></script>
        <script type="text/javascript" src="VizGrimoireJS/src/jquery.gridster.min.js"></script>
        <script type="text/javascript" src="VizGrimoireJS/src/Loader.js"></script>
        <script type="text/javascript" src="VizGrimoireJS/src/Report.js"></script>
        <script type="text/javascript" src="VizGrimoireJS/src/Viz.js"></script>
        <script type="text/javascript" src="VizGrimoireJS/src/ITS.js"></script>
        <script type="text/javascript" src="VizGrimoireJS/src/MLS.js"></script>
        <script type="text/javascript" src="VizGrimoireJS/src/SCM.js"></script>
        <script type="text/javascript" src="VizGrimoireJS/src/Envision_Report.js"></script>                 
        <script type="text/javascript" src="VizGrimoireJS/src/markers.js"></script> -->
    </body>
</html>
