<div class="repository-selector" data-data-source="scm"></div>

<!-- commits, authors, stats, top authors -->
<div class="row">
  <div class="col-md-12">
    <div class="well">
      <div class="MetricsEvol" data-data-source="scm" data-metrics="scm_authors"
           data-min="true" style="height:120px;"></div>
      <div class="MicrodashText" data-metric="scm_authors"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="well">

        <div class="TopByPeriod" data-data-source="scm" data-metric="authors"
             data-limit="100">
        </div>
        
    </div>
  </div>
</div>

<!-- end files, lines -->
