
<!-- commits, authors, stats, top authors -->
<div class="row">

  <!-- left column -->
  <div class="col-md-6">

    <!-- commits -->
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <div class="MetricsEvol" data-data-source="scm"
               data-metrics="scm_commits" data-min="true"
               style="height: 160px;"></div>
          <div class="MicrodashText" data-metric="scm_commits"></div>
        </div>
      </div>
    </div>
    <!-- end commits -->

    <!-- authors -->
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <div class="MetricsEvol" data-data-source="scm"
               data-metrics="scm_authors,scm_newauthors" data-min="true"
               style="height: 120px;"></div>
          <div class="MicrodashText" data-metric="scm_authors" data-name="true"></div>
          <div class="MicrodashText" data-metric="scm_newauthors" data-name="true"></div>
        </div>
      </div>
    </div>
    <!-- end authors -->

    <div class="TimezonesBlock" data-data-source="scm"
     data-metric="commits"></div>

    <!-- files -->
    <div class="row">
      <div class="col-md-12">
        <div class="well">
      <div class="MetricsEvol" data-data-source="scm"
               data-metrics="scm_files" data-min="true" style="height: 120px;"></div>
      <div class="MicrodashText" data-metric="scm_files"></div>
        </div>
      </div>
    </div>
    <!-- end files -->

    <div class="row">
    <div class="col-md-12">
      <div class="well">
        <div class="MetricsEvol" data-data-source="scm"
         data-metrics="scm_added_lines,scm_removed_lines" data-min="true"
         data-legend="true" style="height: 120px;"></div>
        <div class="MicrodashText" data-metric="scm_added_lines" data-name="true"></div>
        <div class="MicrodashText" data-metric="scm_removed_lines" data-name="true"></div>
      </div>
    </div>
    </div>
    <!-- end files, lines -->

  </div>
  <!-- end left column -->

  <!-- right column -->
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">

    <div class="row"><div class="col-md-12">
        <p class="section-title"><i class="fa fa-code"></i> Source Code Management</p>
    </div></div>

    <div class="row">
      <div class="col-md-12">
            <table class="table">
              <tr>
        <td><span class="GlobalData" data-data-source="scm" data-field="scm_repositories"></span></td>
        <td>
                  <div class="SmartLinks" data-target="scm-repos.html" data-label="repositories"></div>
                </td>
        <td><span class="GlobalData" data-data-source="scm"
              data-field="scm_organizations"></span></td>
        <td>
                  <div class="SmartLinks" data-target="scm-organizations.html" data-label="organizations"></div>
                </td>

              </tr>
              <tr>
        <td><span class="GlobalData" data-data-source="scm"
              data-field="avg_commits_author"></span></td>
        <td>commits/author</td>
                <td><span class="GlobalData" data-data-source="scm"
              data-field="avg_files_author"></span></td>
        <td>files/author</td>

              </tr>
              <tr>
        <td><span class="GlobalData" data-data-source="scm"
              data-field="scm_commits_7"></span></td>
        <td>commits last week</td>
        <td><span class="GlobalData" data-data-source="scm"
              data-field="scm_authors_7"></span></td>
        <td>active authors last week</td>
              </tr>
            </table>
      </div>
    </div>
      </div>
      <div class="panel-body">
        <!-- top authors -->
        <div class="Top" data-data-source="scm" data-period_all="true"
         data-metric="authors" data-limit="10" data-people_links="true"></div>
      </div>
    </div>
    <!-- end right column -->
  </div>
  <!-- end commits, authors, stats, top authors -->


</div>
