
<!-- commits, authors, stats, top authors -->
<div class="row">
  <div class="col-md-12">
    <div class="well">
      <div class="MetricsEvol" data-data-source="qaforums" data-metrics="qaforums_qsent"
           data-min="true" style="height:120px;"></div>
      <div class="MicrodashText" data-metric="qaforums_sent"></div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="well">
            <div class="row">
            <div class="col-md-4">
                <div class="Top" data-data-source="qaforums" data-metric="participants" data-period_all="true" data-limit="100" data-people_links="true"></div>
            </div>
            <div class="col-md-4">
                <div class="Top" data-data-source="qaforums" data-metric="qsenders" data-period_all="true" data-limit="100" data-people_links="true"></div>
            </div>
            <div class="col-md-4">
                <div class="Top" data-data-source="qaforums" data-metric="asenders" data-period_all="true" data-limit="100" data-people_links="true"></div>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- end files, lines -->
