[flake8]
extend-ignore = E402, F841, F821, E722
max-line-length = 101
exclude =
    build,
    dist,
    dockercicd,
    docs/,
    .etc,
    .git,
    old,
    .paper,
    __pycache__,
    .sqa,
    test,
    .tox,
    utils,
    .venv
