*.pyc
.tox
*.egg-info
tests/????????-????-????-????-????????????
udocker.py.[0-9]*
utils/info.py.[0-9]*
tests/.coverage
tests/coverage.xml
utils/*.sh.[0-9]*
utils/fakechroot_source_glibc.patch.v1.1.1_v2.18
utils/fakechroot_source_glibc.patch.v1.1.3_v2.18
utils/fakechroot_source_musl.patch.v1.1.3_v2.18
utils/distribute-install
utils/BACKUP/*
utils/OLDBUILD/*
utils/OLDPATCHES/*
BACKUP/*
TAR/*
.coverage
coverage.xml
