include AUTHORS.md
include CHANGELOG.md
include CITING.md
include CONTRIBUTING.md
include LICENSE
include README.md
include SUMMARY.md

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include doc udocker.1 *.md  *.jpg *.png *.gif
