<div class="repository-selector" data-data-source="its"></div>

<!-- commits, authors, stats, top authors -->
<div class="row">
  <div class="col-md-12">
    <div class="well">
      <div class="MetricsEvol" data-data-source="its" data-metrics="its_closers"
           data-min="true" style="height:120px;"></div>
      <div class="MicrodashText" data-metric="its_closers"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="well">

        <div class="TopByPeriod" data-data-source="its" data-metric="closers"
             data-limit="100">
        </div>

    </div>
  </div>
</div>
<!-- end files, lines -->
