<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
        <div class="panel-body">
          <!-- top authors -->
          <div class="TableFutureEvents" data-data-source="eventizer" data-period_all="true"
           data-metric="events"
           data-headers="Future meetings,Group,Date,City,Country"
           data-columns="event_name,group_name,date,city,country"></div>
        </div>
        </div>
    </div>
</div>
