<div class="repository-selector" data-data-source="mls"></div>

<!-- commits, authors, stats, top authors -->
<div class="row">
  <div class="col-md-12">
    <div class="well">
      <div class="MetricsEvol" data-data-source="mls" data-metrics="mls_senders"
           data-min="true" style="height:120px;"></div>
      <div class="MicrodashText" data-metric="mls_senders"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="well">

        <div class="TopByPeriod" data-data-source="mls" data-metric="senders"
             data-limit="100">
        </div>

    </div>
  </div>
</div>
<!-- end files, lines -->
