.flotr-handles-handle{background:#eee;border:1px solid #333;position:absolute;cursor:pointer;border-radius:3px}.flotr-handles-handle,.flotr-grid-label{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none}.flotr-handles-drag{height:12px;width:6px}.flotr-handles-scroll{height:6px;cursor:move}.flotr-handles-left{cursor:w-resize}.flotr-handles-right{cursor:e-resize}.envision-finance{width:600px}.envision-finance-price .envision-component{height:200px}.envision-finance-volume .envision-component{height:60px}.envision-finance-connection .envision-component{height:16px}.envision-finance-summary .envision-component{cursor:all-scroll;height:70px;margin-top:-2px}.envision-finance-price,.envision-finance-volume{border:1px solid #B6D9FF;background:#fff}.envision-finance-price{border-top-right-radius:5px;border-top-left-radius:5px}.envision-finance-volume{border-top:0}.envision-finance-connection canvas{z-index:10;background:#fff}.envision-finance-connection canvas object{position:absolute;top:0}.envision-finance-price .flotr-grid-label{margin-left:4px}.envision-finance-price .flotr-grid-label.first{margin-top:-6px}.envision-finance-price .flotr-grid-label.last{margin-top:6px}.envision-finance-summary .flotr-grid-label{margin-top:3px}.envision-finance-price .flotr-mouse-value{font-size:12px}.envision-finance-volume .flotr-mouse-value{display:none}@media screen and (max-width:600px){.envision-finance{width:100%}.envision-finance-price .envision-component{height:120px}.envision-finance-summary .envision-component,.envision-finance-volume .envision-component{height:40px}}.envision-timeseries{width:auto}.envision-timeseries-detail .envision-component{height:200px}.envision-timeseries-connection .envision-component{height:16px}.envision-timeseries-summary .envision-component{cursor:all-scroll;height:80px}.envision-timeseries-detail{padding-top:7px;border:1px solid #B6D9FF;border-top-right-radius:5px;border-top-left-radius:5px;border-bottom:0;background:#e2f0ff}.envision-timeseries-connection canvas{z-index:10;background:#fff}.envision-timeseries-connection canvas object{position:absolute;top:0}.envision-timeseries-summary .envision-component{margin-top:-2px}/*! gridster.js - v0.1.0 - 2012-10-20
* http://gridster.net/
* Copyright (c) 2012 ducksboard; Licensed MIT */

.gridster {
    position:relative;
}

.gridster > * {
    margin: 0 auto;
    -webkit-transition: height .4s;
    -moz-transition: height .4s;
    -o-transition: height .4s;
    -ms-transition: height .4s;
    transition: height .4s;
}

.gridster .gs_w{
    z-index: 2;
    position: absolute;
}

.ready .gs_w:not(.preview-holder) {
    -webkit-transition: opacity .3s, left .3s, top .3s;
    -moz-transition: opacity .3s, left .3s, top .3s;
    -o-transition: opacity .3s, left .3s, top .3s;
    transition: opacity .3s, left .3s, top .3s;
}

.ready .gs_w:not(.preview-holder) {
    -webkit-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
    -moz-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
    -o-transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
    transition: opacity .3s, left .3s, top .3s, width .3s, height .3s;
}

.gridster .preview-holder {
    z-index: 1;
    position: absolute;
    background-color: #fff;
    border-color: #fff;
    opacity: 0.3;
}

.gridster .player-revert {
    z-index: 10!important;
    -webkit-transition: left .3s, top .3s!important;
    -moz-transition: left .3s, top .3s!important;
    -o-transition: left .3s, top .3s!important;
    transition:  left .3s, top .3s!important;
}

.gridster .dragging {
    z-index: 10!important;
    -webkit-transition: all 0s !important;
    -moz-transition: all 0s !important;
    -o-transition: all 0s !important;
    transition: all 0s !important;
}

/* Uncomment this if you set helper : "clone" in draggable options */
/*.gridster .player {
  opacity:0;
}*/
/*
 * NEW CSS STYLES for VizJS-lib 2.x components
 */

.flotr-mouse-value{
z-index: 100; }

.MetricsEvol,
.PersonMetrics,
.TimeTo {
	   height:150px;
}

.FilterItemsNav{ margin-bottom: 30px; }

.FilterItemsMetricsEvol,
.FilterItemsGlobal,
.FilterItemMetricsEvol
{
    height:150px;
}

.Bubbles,
.Radar {
    height:200px;
}
/*
 * GENERAL CSS STYLES for VizJS-lib components
 */


/* Auto resize the image to fit with no scrolls */
img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

/*body {
	margin: 0;
	padding: 0;
        font: normal 0.75em georgia, sans-serif;
}*/

/* GLOBAL PAGE LAYOUT */

#wrapper {
	margin: 0% 2%;
    width: 95%;
    float: center;
}

#header {
	overflow: auto;
	position: relative;
	margin: 5px 0 0 0;
}
.ie6 #header {
	width: 100%;
}

.left {
    float: left;
}

#footer {
	overflow: hidden;
	clear: both;
	padding: 10px 0;
	border-top: 1px dashed #000;
}

.container-fluid {
    padding-left: 40px;
    padding-right: 40px;
    /* max-width: 1280px; */
    margin-left: auto;
    margin-right: auto;
}

.container-narrow {
   max-width: 1280px;
   margin-left: auto;
   margin-right: auto;
}

.bottom-padding {
    padding: 0 0 10px 0;
}


/*
        FOOTER COMPONENTS
*/

#footer p, #footer dl {
	margin: 0;
	font-size: 88%;
	line-height: 1.2;
}


/*
        TEXT
*/

h1 {
	margin-bottom: .25em;
	font-family: 'Nadia Serif', Helvetica, "Helvetica Neue", Arial, sans-serif;
	font-size: 100%;
	/* text-shadow: -1px -1px 1px hsla(0,0%,100%,.6);
	letter-spacing: -1px; */
	color: #ffa500;
}

h1, h2, h3 {
	font-weight: bold;
	line-height: 1.2;
}
h2, h3 {
	margin-bottom: 0;
	color: #555;
}
h2 {
	font-family: 'Nadia Serif', Helvetica, "Helvetica Neue", Arial, sans-serif;
	font-size: 115%;
	/* text-shadow: -1px -1px 0 hsla(0,0%,100%,.6);
	letter-spacing: -1px; */
}
h3 {
	font-family: Cambria, "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 105%;
	text-transform: uppercase;
	letter-spacing: 1px;
}



/* BOOTSTRAP */
body {
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}

.hero-unit {
    padding: 30px;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

/*.icon-circle-arrow-up{
   height: 28px;
   width: 28px;
}this does not work... this takes a bigger area in the png...*/
.icon-circle-arrow-up{
    background-color:#9FF781;
}

.icon-circle-arrow-down{
    background-color:#F78181;
}

/* General viz sizes */

.envision-component-container {
    width: 400px;
    height : 80px;
}

.envision-component-container.envision-first {
    width: 400px;
    height : 80px;
}

.basic-metric-html {
    width: 150px;
}

.scm-flotr2-metrics,
.its-flotr2-metrics,
.mls-flotr2-metrics,
.scr-flotr2-metrics,
.irc-flotr2-metrics
{
    height: 130px;
}

.scm-flotr2-countries-static,
.scm-flotr2-companies-static,
.scm-flotr2-repos-static,
.its-flotr2-countries-static,
.its-flotr2-companies-static,
.its-flotr2-repos-static,
.mls-flotr2-countries-static,
.mls-flotr2-companies-static,
.mls-flotr2-repos-static,
.its-time-to-fix,
.mls-time-to-attention,
.irc-flotr2-repos-static,
.scr-flotr2-repos-static
{
    height: 200px;
}

.scm-flotr2-metrics-country,
.its-flotr2-metrics-country,
.mls-flotr2-metrics-country,
.scm-flotr2-metrics-repo,
.its-flotr2-metrics-repo,
.mls-flotr2-metrics-repo,
.irc-flotr2-metrics-repo,
.scr-flotr2-metrics-repo,
.scm-flotr2-metrics-company,
.its-flotr2-metrics-company,
.mls-flotr2-metrics-company,
.scm-flotr2-metrics-people,
.its-flotr2-metrics-people,
.irc-flotr2-metrics-people,
.scr-flotr2-metrics-people,
.mls-flotr2-metrics-people
{
    height: 200px;
}

#its-envision {
    height: 450px;
}

#mls-envision {
    height: 250px;
}

.scm-flotr2-companies
 {
    height: 300px;
}

.demographic-bars,
.Demographics,
.DemographicsCompany{
    height:380px;
}

.subreport-list-item {
    margin: 5px;
}

/*
	OTHER STYLES FOR SPECIFIC CHARTS
*/
.graph .flotr-grid-label {
    font-size: 0.6em
}

.graph {
	height:200px;
	width:200px;
}

.bubbles {
	height:300px;
	width:600px;
}

.radar {
	height:400px;
	width:500px;
}

.demographics {
	height:400px;
	width:400px;
}

.treemap {
 	position: relative;
    width: 700px;
    height: 500px;
}

.treemap-node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

.basic-metric-html {height:100px;}

.subreport-list {height:120px;}

.subreport-list-item {float:right;height:80px;width:100%;}

.table td.respository-name{
  padding: 30px 0 0 10px;
}

.table-repositories{
  margin-top: 20px;
}

.pagination{
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
}
.pagination-text{
  padding: 15px 0 0 10px;
  float: left;
}

.date {
    color: #8F8F8F;
    font: 12px Helvetica,arial,freesans,clean,sans-serif;
}

.num {
    color: #333333;
    display: block;
    font-size: 16px;
    font-weight: bold;
}

.num2 {
    color: #333333;
    display: block;
    font-size: 18px;
    font-weight: bold;
}

/* l.com */
.stats{
    padding: 0 11px 0 0;
    display: table;
    line-height: none !important;
}

.stats em {
    display: table-cell;
    padding-bottom: 10px;
    vertical-align: middle;
    font-size: 0.9em;
}

.stats .count {
    font-size: 200%;
    padding-right: 10px;
    text-align: right;
    line-height: 40px;
    float: right;
}

.stats strong {
    color: #555555;
}

/* trends/momentos */
.fppercent{
    font-size: 1.1em;
}
.zeropercent{
    font-size: 1.1em;
}
.pospercent{
    font-size: 1.1em;
    color: green;
}
.negpercent{
    font-size: 1.1em;
    color: red;
}
.fa-arrow-circle-down{
     color: red;}
.fa-arrow-circle-up{
     color:green;  }

.MicrodashText {
  text-align: center;}

/* end trends */

.dayschange{ font-size: 0.75em; }

.wellmin { ;modify .weel from Bootstrap
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 9px;
    min-height: 0;
    padding: 7px;
}

.line-right {
  margin-right: -1px;
  border-right: 1px solid black;
}

.count {
    font-size: 200%;
    line-height: 40px;
    text-align: right;
color: #555555;
         }
.stats {
    display: table;
    padding: 0 11px 0 0;
width: 100%;
         }

.invisible-box{
     border-radius: 3px 3px 0 0;
     box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
     margin-bottom: 20px;
}
.thin-border{
     border-bottom: 1px solid;
     text-align: center;
}

.grey-border{
     border-bottom: 2px solid #E3E3E3;
     /*text-align:center;*/
     padding:6px 0px 0px 0px;
}

.big-fp-number{
     font-size:2.5em;
     text-align:center;
     /*dding:10px 0px 10px 0px;*/
}

.medium-fp-number{
     font-size:1.5em;
     text-align:center;
     padding:5px 0px 0px 0px;
}

.medium-text{
     font-size: 0.8em;
}


/* from gb*/



.overall-summary {
    border-bottom: medium none;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
    position: relative;
                   }
.capped-box {
    -moz-box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 20px;
              }
.stats-switcher-viewport {
    height: 25px;
    overflow: hidden;
                           }
.stats-switcher-viewport .numbers-summary {
    transition: margin 0.25s ease-in-out 0s;
                                            }
.overall-summary .numbers-summary li {
    color: #999999;
    display: table-cell;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    white-space: nowrap;
    width: 1%;
                                       }
.overall-summary .numbers-summary li .num {
    color: #000000;
    display: inline;
    font-size: 13px;
    font-weight: bold;
    padding: 0;
                                            }
/* end from gb*/

.flotr-title{
  float: left;
 }

.text-center{
  text-align: center;
 }

.text-big{
  font-size: 1.1em;
 }

/* Bootstrap tabs */

.nav{
  margin-bottom: 2px !important;
}

/* Footer */

#Footer{
         border-top: 1px solid #EEEEEE;
         color: #777777;
         font-size: 12px;
         line-height: 2;
         margin-top: 20px;
         padding-bottom: 10px;
         padding-top: 15px;
         position: relative;
}/* Shared CSS Style in all Envision Bitergia Reports */

.envision-component-container {
    width: 325px;
    height : 50px;
}

.envision-component-container.envision-first {
    width: 325px;
    height : 200px;
}

.envision-component {
    width: 100%;
    height: 100%;
}

.report-connection.envision-component-container {
  height: 20px;
}

.report-summary.envision-component-container {
  cursor: all-scroll;
  height : 50px;
  margin-top: -2px;
}


/* .milestone0-scm-committers {
  border-top: 0px;
}
 */

/* Connection overlay */
.milestone0-connection .canvas {
  z-index: 10;
  background: #fff;
}

.milestone0-connection .canvas .object {
  position: absolute;
  top: 0px;
}

/* X-Axis Labels */
.milestone0-summary .flotr-grid-label {
  margin-top: 5px;
}

/* Mouse Tracker */
.envision-component-container.envision-first .flotr-mouse-value {
    font-size: 12px;
    display:inline;
}

.envision-component-container .flotr-mouse-value
 {
  display: none;
}

/* @media screen and (max-width: 600px) {
  .milestone0-scm-commits {
    width: 100%;
  }

  .milestone0-scm-commits .envision-component
   {
    height: 120px;
  }
  .milestone0-scm-summary .envision-component,
  .milestone0-scm-committers .envision-component {
    height: 40px;
  }
} */
