    <div id="info" class="row-fluid">
      <h4>Attraction / retention</h4>
    </div>

    <div class="well">
      <div class="row">
        <p>
        <p>
          <i><b>Attracted</b>: Number of contributors entering the project
        for each cohort. In charts, cohorts are organized by
        "age" (time since they entered the project), each bar
        representing one of these cohorts.
        Large bars for any age mean that the community was attracting
        many contributors that time ago.
        </p>
          <i><b>Retained</b>: Number of remaining contributors (those still
        active) for each cohort. Large top bars (corresponding to
        older cohorts) mean that
        experienced contributors are still
        active. Large bottom bars mean that new contributors are being
        retained.
        </p>
    <p>
      The ratio between retained and attracted contributors for a cohort
      represents the retention ratio for that cohort (fraction of
      contributors of that age that are still active).
    </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="well">
        <h6>Source code developers</h6>
        <div class="Demographics" data-data-source="scm" data-period="0.5">
        </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well">
        <h6>Tickets participants</h6>
        <div class="Demographics" data-data-source="its" data-period="0.5">
        </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well">
        <h6>Discussion participants</h6>
        <div class="Demographics" data-data-source="mls" data-period="0.5">
        </div>
        </div>
      </div>

    </div>
