<div class="OverallSummaryBlock"></div>

<div class="DSSummaryBlock" data-data-source="scm"
     data-box-labels="Code Developers,Core,Regular,Casual"
     data-box-metrics="scm_authors,core,regular,occasional"
     data-ts-metrics="scm_commits,scm_authors"></div>

<div class="DSSummaryBlock" data-data-source="scr"
     data-box-labels="Code Submitters,Accepted Contributions"
     data-box-metrics="scr_submitters,scr_merged"
     data-ts-metrics="scr_merged,scr_submitters"></div>

<div class="DSSummaryBlock" data-data-source="its"
     data-box-labels="Ticket Participants,Fixers,Submitters"
     data-box-metrics="allhistory_participants,its_closers,its_openers"
     data-ts-metrics="its_closed,its_closers"></div>

<div class="DSSummaryBlock" data-data-source="its_1"
     data-box-labels="Ticket Participants,Fixers,Submitters"
     data-box-metrics="allhistory_participants,its_1_closers,its_1_openers"
     data-ts-metrics="its_1_closed,its_1_closers"></div>

<div class="DSSummaryBlock" data-data-source="mls"
     data-box-labels="Mailing List Participants,Thread Initiators,First Repliers"
     data-box-metrics="mls_senders,senders_init,senders_response"
     data-ts-metrics="mls_sent,mls_senders"></div>

<div class="DSSummaryBlock" data-data-source="irc"
     data-box-labels="IRC Participants,IRC Messages"
     data-box-metrics="irc_senders,irc_sent"
     data-ts-metrics="irc_sent,irc_senders"></div>

<div class="DSSummaryBlock" data-data-source="qaforums"
     data-box-labels="Ask Participants,Questions"
     data-box-metrics="qaforums_participants,qaforums_qsent"
     data-ts-metrics="qaforums_qsent,qaforums_qsenders"></div>

<div class="DSSummaryBlock" data-data-source="releases"
     data-box-labels="Module Authors,Modules,Releases"
     data-box-metrics="releases_authors,releases_modules,releases_releases"
     data-ts-metrics="releases_modules,releases_authors"></div>

<div class="DSSummaryBlock" data-data-source="downloads"
     data-box-labels="Total downloads, IP addresses"
     data-box-metrics="downloads_downloads,downloads_ips"
     data-ts-metrics="downloads_downloads,downloads_ips"></div>
