<div class="row">
  <div class="col-md-12">
    <div class="wellmin">
      <div class="PersonData"></div>
    </div>
  </div>
</div>

<div class="row">

  <div class="PersonSummaryBlock" data-data-source="scm"
       data-metrics="scm_commits"></div>

  <div class="PersonSummaryBlock" data-data-source="scr"
       data-metrics="scr_submissions"></div>

  <div class="PersonSummaryBlock" data-data-source="its"
       data-metrics="its_closed"></div>

  <div class="PersonSummaryBlock" data-data-source="its_1"
       data-metrics="its_closed"></div>

  <div class="PersonSummaryBlock" data-data-source="mls"
       data-metrics="mls_sent"></div>

  <div class="PersonSummaryBlock" data-data-source="irc"
       data-metrics="irc_sent"></div>

  <div class="PersonSummaryBlock" data-data-source="mediawiki"
       data-metrics="revisions"></div>

  <div class="PersonSummaryBlock" data-data-source="releases"
       data-metrics="releases_releases"></div>

</div>
