
<!-- summaries and charts -->

<!-- scm -->

<div class="ProjectComparisonTitle"></div>

<div class="ProjectComparisonTotalNumbers"></div>

<div class="ProjectsComparisonTS" data-data-source="scm"
     data-box-labels="Code Developers,Commits"
     data-ts-metrics="commits,authors"></div>

<div class="ProjectsComparisonTop" data-data-source="scm"
     data-metric="authors" data-period="all"></div>

<div class="ProjectsComparisonTopOrgs" data-data-source="scm"
    data-metric="authors" data-period="all"></div>

     <!--<div class="Top" data-data-source="scm" data-period_all="true"
      data-metric="authors" data-limit="10" data-people_links="true"></div>-->


<!-- end scm -->

<!-- end charts -->
