<div class="panel panel-default">
  <div class="panel-body">

    <div class="container alert alert-info">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <p><i class="fa fa-icon fa-info-circle"></i> <strong>Project map for the <span class='report_name'></span></strong></p>
      <p>Just click on the number in order to display and browse the tree of subprojects. Click on the name to go to the project overview</p>
    </div>
    
    <div class="ProjectMap"></div>
  </div>
</div>

