
<!-- summaries and charts -->

<!-- scm -->
<div class="DSSummaryBlockProjectFiltered" data-data-source="scm"
     data-box-labels="Code Developers,Commits"
     data-box-metrics="scm_authors,scm_commits"
     data-ts-metrics="scm_commits,scm_authors"></div>
<!-- end scm -->

<!-- its -->
<div class="DSSummaryBlockProjectFiltered" data-data-source="its"
     data-box-labels="Ticket Closers,Closed Tickets"
     data-box-metrics="its_closers,its_closed"
     data-ts-metrics="its_closed,its_closers"></div>
<!-- end its -->

<!-- scr -->
<div class="DSSummaryBlockProjectFiltered" data-data-source="scr"
     data-box-labels="Patches Submitters,Submitted Patches"
     data-box-metrics="scr_submitters,scr_submitted"
     data-ts-metrics="scr_merged,scr_submitters"></div>

<!-- end scr-->
<!-- mls -->
<div class="DSSummaryBlockProjectFiltered" data-data-source="mls"
     data-box-labels="Message posters,Posted messages"
     data-box-metrics="mls_senders,mls_sent"
     data-ts-metrics="mls_sent,mls_senders"></div>
<!-- end mls -->

<!-- end charts -->
