<div class="row">
  <div class="col-md-12">
    <div class="wellmin">
      <div class="FilterItemData"></div>
    </div>
  </div>
</div>

<div class="row">

  <div class="FilterDSBlock" data-filter="repos" data-data-source="scm" 
       data-metrics="scm_commits,scm_authors,scm_files"></div>

  <div class="FilterDSBlock" data-filter="repos" data-data-source="scr" 
       data-metrics="scr_submitted:scr_merged:scr_abandoned,scr_new"></div>

  <div class="FilterDSBlock" data-filter="repos" data-data-source="its" 
       data-metrics="its_closed:its_opened,its_closers:its_openers,its_changers"></div>

  <div class="FilterDSBlock" data-filter="repos" data-data-source="mls" 
       data-metrics="mls_sent,mls_senders"></div>

  <div class="FilterDSBlock" data-filter="repos" data-data-source="irc" 
       data-metrics="irc_sent,irc_senders"></div>

  <div class="FilterDSBlock" data-filter="repos" data-data-source="qaforums" 
       data-metrics="qaforums_qsent,qsenders,asenders"></div>

</div>
