<div class="row">
  <div class="col-md-6">
    <div class="well">
      <div class="MetricsEvol" data-data-source="scr" data-metrics="scr_participants"
           data-min="true" style="height:120px;"></div>
      <div class="MicrodashText" data-metric="scr_participants"></div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <div class="MetricsEvol" data-data-source="scr" data-metrics="scr_mergers"
           data-min="true" style="height:120px;"></div>
       <div class="MicrodashText" data-metric="scr_mergers"></div>
   </div>
  </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="well">
            <div class="row">
            <div class="col-md-6">
                <div class="Top" data-data-source="scr" data-metric="participants" data-period_all="true" data-limit="1000" data-people_links="true"></div>
            </div>
            <div class="col-md-6">
                <div class="Top" data-data-source="scr" data-metric="mergers" data-period_all="true" data-limit="1000" data-people_links="true"></div>
            </div>
        </div>
        </div>
    </div>
</div>
