<div class="row">
<!-- evol charts -->
  <div class="col-md-6">

    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <div class="MetricsEvol" data-data-source="downloads"
            data-metrics="downloads_downloads,downloads_udownloads" data-min="true" style="height: 120px;"
            data-frame-time="true">
          </div>
        <!--  <div class="MicrodashText" data-metric="downloads_downloads" data-name="true"></div>
          <div class="MicrodashText" data-metric="downloads_udownloads" data-name="true"></div> -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <div class="MetricsEvol" data-data-source="downloads"
            data-metrics="downloads_visits,downloads_uvisitors" data-min="true" style="height: 120px;"
            data-frame-time="true">
          </div>
        <!--  <div class="MicrodashText" data-metric="downloads_visits" data-name="true"></div>
          <div class="MicrodashText" data-metric="downloads_uvisitors" data-name="true"></div> -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <div class="MetricsEvol" data-data-source="downloads"
            data-metrics="downloads_bounces" data-min="true" style="height: 120px;"
            data-frame-time="true">
          </div>
          <!--<div class="MicrodashText" data-metric="downloads_downloads"></div>-->
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <div class="MetricsEvol" data-data-source="downloads"
          data-metrics="downloads_packages" data-min="true"
          style="height: 120px;" data-frame-time="true"></div>
          <!--<div class="MicrodashText" data-metric="downloads_packages"></div>-->
        </div>
      </div>
    </div>

  </div>
  <!-- end evol charts -->

  <!-- right col starts here -->
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <p class="section-title"><i class="fa fa-download"></i> Downloads</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <table class="table">
              <tr>
                <td><span class="GlobalData" data-data-source="downloads"
                      data-field="downloads_downloads"></span></td>
                <td>total downloads</td>
                <td><span class="GlobalData" data-data-source="downloads"
                      data-field="downloads_udownloads"></span></td>
                <td>unique downloads</td>
              </tr>
              <tr>
                <td><span class="GlobalData" data-data-source="downloads"
                      data-field="downloads_packages"></span></td>
                <td>packages downloaded</td>
                <td><span class="GlobalData" data-data-source="downloads"
                      data-field="downloads_visits"></span></td>
                <td>visits</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <div class="Top" data-data-source="downloads" data-period=""
              data-metric="packages" data-limit="0" data-people_links="true"
              style="height: auto; max-height: 200px; overflow-x: hidden;">
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <div class="Top" data-data-source="downloads" data-period=""
                data-metric="pages" data-limit="0" data-people_links="true"
                style="height: auto; max-height: 200px; overflow-x: hidden;">
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <div class="Top" data-data-source="downloads" data-period=""
                data-metric="countries" data-limit="0" data-people_links="true"
                style="height: auto; max-height: 200px; overflow-x: hidden;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end top senders -->


</div> <!-- the end -->
