<!-- info text -->
<div id="info" class="row">
  <div class="col-md-5">Some charts and tables for top projects in
    the project, and a summary of the evolution of their participation with
    links to more detailed information per project.</div>
  <div class="col-md-7">
    <!-- evolution #projects -->
    <i> <b>Active Projects per month</b>
    </i>
    <div class="MetricsEvol" data-data-source="scr"
         data-metrics="scr_projects" data-legend="false"
         style="height: 80px;"></div>
  </div>
</div>
<!-- end info text -->


<!-- list of projects -->
<div id="nav" class="row">
  <div class="FilterItemsNav" data-data-source="scr"
       data-order-by="scr_submitted" data-filter="projects" style="align: center"></div>
</div>
<!-- end list of projects -->


<!-- submitted, merged project -->
<div class="well">
  <div id="summary-static" class="row">
    <!-- submitted -->
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <i> <b>Submitted per project (aggregated)</b>
      </i>
      <div class="FilterItemsGlobal" data-data-source="scr"
           data-metric="scr_submitted" data-filter="projects"
           data-legend-div="projects_legend" data-limit="10"
           data-order-by="scr_submitted"></div>
    </div>
    <!-- end submitted -->

    <div class="col-md-2" id="projects_legend"></div>

    <!-- merged -->
    <div class="col-md-4">
      <i> <b>Senders per project (aggregated)</b>
      </i>
      <div class="FilterItemsGlobal" data-data-source="scr"
           data-metric="scr_merged" data-filter="projects" data-legend="false"
           data-limit="10" data-order-by="scr_submitted"></div>
    </div>
    <!-- end merged -->
    <div class="col-md-1"></div>
  </div>
</div>
<!-- end submitted, merged project -->

<div id="summary-static" class="row"></div>

<!-- submitted per project -->
<div id="list" class="row">
  <div class="FilterItemsMiniCharts" data-data-source="scr"
       data-metrics="scr_submitted,scr_pending,scr_review_time_days_avg"
       data-filter="projects"></div>
</div>
<!-- end submitted per project -->

<div class="row" style="margin-top: 10px;">
  <div class="col-md-12">
    <div id="Refcard"></div>
  </div>
</div>
